.link {
  color: var(--color-text);
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--color-text);
  padding: 0.5em;
  margin: 0.25em 0;
  display: inline-block;
  outline: none;
}

.link:visited {
  color: var(--color-text);
}

.link:hover,.link:active,.link:focus {
  text-decoration: underline;
}

.link:focus {
  background-color: var(--color-background-highlight);
}