.link {
  color: var(--color-link);
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.link:visited {
  color: var(--color-link);
}

.link:hover,.link:active {
  color: var(--color-link-active);
  text-decoration: underline;
}