:root {
  --color-text: white;
  --color-background: black;
  --color-background-highlight: navy;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 20px;
  font-family: 'Courier New', monospace;
}