:root {
  --color-text: #d85;
  --color-background: #422;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 20px;
  font-family: 'Courier New', monospace;
}